:root {
    --orange-color: rgb(255, 94, 0);
    --grey-color: #f4f4f4;
    --darkgrey-color: #ccc;
    --shadowlight: rgb(218, 215, 215);
    --positionSidenavTop: 28rem;
    --SidenavHeight: 50vh;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    overflow: scroll;
    font-family: "Poppins", sans-serif;
  }
  
  .header {
    background-color: white;
    text-align: center;
  }
  .heading {
  
    font-family: inherit;
    font-size: 25px;
    font-style: normal;
    color: #000000;
    text-align: center;
    border-bottom: solid 2px black;
    border-bottom-right-radius: 250px 25px;
    border-bottom-left-radius:  -120px -10px;
    
  }

  .heading {
  
    font-family: inherit;
    font-size: 25px;
    font-style: normal;
    color: #000000;
    text-align: center;
    border-bottom: solid 2px black;
    border-bottom-right-radius: 250px 25px;
    border-bottom-left-radius:  -120px -10px;
    
  } 
  .headingWhite {
  
    font-family: inherit;
    font-size: 25px;
    font-style: normal;
    color: white;
    text-align: center;
    border-bottom: solid 2px white;
    border-bottom-right-radius: 250px 25px;
    border-bottom-left-radius:  -120px -10px;
    
  }
  
  .headingDIV {

    display: flex;
    justify-content: center;
  }

.topnav {
    overflow: hidden;
    /* background-color: white; */
    /* box-shadow: 5px 5px 10px  var(--shadowlight); */
    margin-right: 20px;
    margin-left: 20px;
    height: 72px;
    width: 90%;
    position: fixed;
    z-index: 10;
  }
  
  .topnav-buttons {
    display: flex;
    float: right;
  }
  
  .topnav-buttons a {
    padding: 10px;
    color: #000;
    text-decoration: none;
  }
  
  .hover-3 {
    /* font-family:'Rock Salt', cursive;
      font-size: 12px; */
    --b: 0.1em; /* the thickness of the line */
    --c: #000000; /* the color */
  
    color: #0000;
    padding-block: var(--b);
  
    border-bottom-right-radius: 225px 19px;
    border-bottom-left-radius: 15px 255px;
  
    background: linear-gradient(var(--c) 50%, #000 0) 0%
        calc(100% - var(--_p, 0%)) / 100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p, 100%) / var(--_p, 0%) var(--b)
        no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: background-size 0.3s;
  }
  .hover-3:hover {
    --_p: 100%;
    --_s: 0.3s;
  }
  
  
  
  .hover-round {
   background-color: lightgrey;
  }
  .hover-round:hover {
    border-style: solid ;
    border-color: lightgrey;
    background-color: var(--darkgrey-color);
  }
  
  .topnav-buttons a:active {
    width: 30%;
    color: var(--orange-color);
    transition: 0.1s ease-out;
  }


  /* DropdownMenu Projects */

  .projectmenu {
    
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  .dropbtn {
    background-color: #ffffff;
    color:rgba(0,0,0,0.5);
    padding: 15px;
    font-style: inherit;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dropbtn i {
    padding: 10px;
  }
  
  .dropdown {
    position: relative;
    margin-top: 2rem;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 13px;
    display: flex;

  }
  
  .dropdown-content a:hover {background-color: #f1f1f1; color: var(--orange-color);}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {color: var(--orange-color)}

  .flex-item-white {

    flex: 10%;
    padding: 20px; 

    background-color: white; 
    border: solid 2px lightgrey; 
    width: 95vw; 
    position: relative; 
    left: 2vw;
    border-bottom-right-radius: 225px 19px;
    border-bottom-left-radius: 15px 255px;
    box-shadow: 5px 5px 10px  grey;
    font-size: 12px;
    margin-top: 65px;
   
    margin-right: 3rem;
  }

  .bg {
    /* The image used */
    background-image: url("./Bewerbungsbild.png");

  
    /* Full height */
    height: 130vh; 
    width: 100vw;
    /* min-height: 500px; */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


  
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

    filter: blur(3px);
    -webkit-filter: blur(3px);
  }

  .bgCv {
    /* The image used */
    background-image: url("A3_CV_Web.jpg");
    

    /* Full height */
    height: 100vh;
    width: 100vw;
   
    /* Create the parallax scrolling effect */

    background-repeat: no-repeat;
 
    


  
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

  
  }
 
  .content {
    position: absolute;
    bottom: -20vh;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 7%;

    border: solid 0px lightgrey; 
    border-bottom-right-radius: 225px 19px;
    border-top-right-radius: 225px 19px;
    border-top-left-radius: 15px 255px;
    border-bottom-left-radius: 18px 255px;
    box-shadow: 5px 5px 10px  grey;
    
  }


  .contentName {
    position: absolute;
    top: 0vh;
   
    width: 60%;
    margin: 7%;
   
    
  }
  .bg:hover {
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }



/* Footer */
.footerContainer {

  display: flex;
  flex-direction: row;
  position: relative;
  background-color: var(--orange-color);
  border-top: solid 0px white;

  border-top-right-radius: 250px 25px;
  border-top-left-radius:  120px 10px;
  box-shadow: -5px -5px 0px  var(--shadowlight);

  justify-content: center;
}

/* .footer {
 
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 12px;
  text-decoration: none;
  
} */

.textContentFooter {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 12px;
  text-decoration: none;

}

.text-footer {
  position: relative;


  --b: 0.1em; /* the thickness of the line */
  --c: white; /* the color */

  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, #000 0) 0%
      calc(100% - var(--_p, 0%)) / 100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 100%) / var(--_p, 0%) var(--b)
      no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: background-size 0.3s;
  
}

.text-footer:hover {

  font-size: large;

  /* --_p: 0%;
  --_s: 0.3s; */
}


@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}

.pie {
  --p:20;
  --b:25px;
  --c:--orange-color;
  --w:150px;

  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 15px;

}
.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.pie:before {
  inset: 0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);

  -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  inset: calc(50% - var(--b)/2);
  background: var(--c);
  transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
  animation: p 1s .5s both;
}

.no-round:before {
  background-size: 0 0, auto;
}
.no-round:after {
  content: none;
}
@keyframes p{
  from{--p:0}
}



.square {

  opacity: 0;
  transform: scale(1.2);

  background-color: white; 
  border: solid 2px lightgrey; 
  width: 95vw; 
  position: relative; 
  left: 2vw;
  border-bottom-right-radius: 225px 19px;
  border-bottom-left-radius: 15px 255px;
  box-shadow: 5px 5px 10px  grey;
  font-size: 12px;
  margin-top: 65px;
 
  margin-right: 3rem;
  margin-bottom: 5rem;
  padding: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
.square {
  transition: opacity 1.5s ease, transform 1.5s ease;
}
}

.square-transition {
  opacity: 1;
  transform: none;
}


